
*.tfstate         # Infrastructure condition
*.tfstate.backup  # Infrastructure state backup
.terraform/       # Terraform module directories
*.tfvars
.env              # variable file
*.pem             # Keys with pem extension
